# .gitignore
node_modules/
dist/
/.env
.env.*
npm-debug.log*
yarn-debug.log*
.vscode/
.idea/
.DS_Store
/generated/prisma
/prisma/migrations
/prisma/dev.db
/node_modules/
/*.log
.eslintcache
/.nyc_output
.turbo
.parcel-cache

# TypeScript
*.tsbuildinfo

# Build output
dist/

# Prisma generated client
node_modules/.prisma

